<% provide(:title, "About") %>

<div class="page-about">
  <div class="container page-about-two">

    <%= image_tag("about/aboutbackbordertop.png", width: "100%") %>

    <div class="text-container-overlay-six">
      <h2>About Me</h2>

      <p>I was born and raised in Southern California, and recently graduated from school in Northern California. I completed my education at UC Berkeley with a degree in Electrical Engineering &amp; Computer Science (EECS), with more emphasis in Computer Science. I'm really interested in software engineering, and in general love the field of computer science and its community.</p>

      <p>As a gamer, I've taken what I've learned to create games of my own. You can find some of these games in the <%= link_to "For Fun", fun_path %> tab of the site. Also, check out the mobile game <a href="https://itunes.apple.com/us/app/bookin-it/id1057026778?mt=8" target="_blank">Bookin' It</a> on the App Store, created entirely by a couple of my friends and myself. I really enjoy games that are challenging and difficult, so frustration, addiction, and great satisfaction upon accomplishment are common feelings while playing. In a way, don't these feelings sum up the life of a coder pretty well?</p>

      <p>I like to think I'm a grateful person, and I'm especially grateful for the Computer Science community. I enjoyed my time giving back as a lab assistant, grader, and teaching assistant for five semesters plus a summer session at Berkeley. I taught students, contributed to the development of the course, and worked with my professor to spread the course across the nation. Check out the <a href="http://bjc.berkeley.edu/" target="_blank">Beauty and Joy of Computing</a> and <a href="http://cs10.org/" target="_blank">Computer Science 10</a>!</p>

      <p>My hobbies include all sorts of games. Video games, board games, gambling. And yes, gambling is a losing game, but as long as you're responsible, you're really just paying for entertainment right? I also enjoy golfing, running, playing guitar, and cooking. Additionally I'm an Eagle Scout, so I do my best to apply the Boy Scout motto "Be Prepared" in all aspects of life.</p>   

      <p>Also, if you were curious about my logo...</br>
        It is four connected letter J's displaying the colors of the organizations that have had the biggest influence on my drive and passion. Blue and gold for my Alma Mater UC Berkeley, and green and yellow for my Boy Scout Troop 378.
      </p>
    </div>

    <%= image_tag("about/aboutbackborderbottom.png", width: "100%") %>

  </div>
</div>