<% provide(:title, "Contact") %>

<section id="services">
  <div class="container">
    <h1>Contact</h1>
    <p>jasnowiss@gmail.com</p>
    <p><a href="https://www.linkedin.com/in/jeffreysnowiss" target="_blank">linkedin</p>
    <p><a href="https://github.com/jasnowiss" target="_blank">github</p>
  </div>
</section>