<% provide(:title, "Jeffrey Snowiss") %>

<!-- Header -->
<!-- <header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To Our Studio!</div>
      <div class="intro-heading">It's Nice To Meet You</div>
      <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
    </div>
  </div>
</header> -->

<!-- Home Section -->
<!-- <section id="home">
</section> -->

<div class="page-home">
  <div class="container" style="text-align: center">
    <div style="display: inline-block; border-radius: 8px; overflow: hidden">
      <div id="borderimg1">
        <h2 >Jeffrey Snowiss</h2> 
        <p class="nav-properties" style="margin-top: 15px">college graduate, software developer, game enthusiast</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="margin-top: 37px">
      <div id="box1" class="col-md-5 col-md-offset-1 col-sm-6 col-lg-4 col-lg-offset-2">
        <p>Hi, I'm Jeff. Or Jeffrey (Jeff-rey). But not Jeffery (Jeff-er-y), and definitely not Geoffrey (Jaw-free). Other Jeffreys know the struggle. Maybe it would be easier if you just called me Jeff...</p>
        <p style="margin-top: 15px">Check out my tabs and see what I've done. Tap <%= link_to "here", fun_path, title: "For Fun" %> if you just wanna have fun!</p>
      </div>
      <div id="box2" class="col-md-5 col-sm-6 col-lg-4">
        <%= image_tag("home/webcollage.png", width: "100%", :class => "image-container-one") %>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="contact-container">
      <!-- <h3>Contact</h3>
      <p>jasnowiss@gmail.com</p>
      <p><a href="https://www.linkedin.com/in/jeffreysnowiss" target="_blank">linkedin</p>
      <p><a href="https://github.com/jasnowiss" target="_blank">github</p> -->
      <div style="text-align:center">
        <h3 style="display:inline-block">Contact</h3>
        <p class="nav-properties" style="display:inline-block; margin-left:100px"><a href="mailto:jasnowiss@gmail.com" target="_top" title="jasnowiss@gmail.com">email</a></p>
        <p class="nav-properties" style="display:inline-block; margin-left:100px"><a href="https://www.linkedin.com/in/jeffreysnowiss" target="_blank" title="linkedin.com/in/jeffreysnowiss">linkedin</a></p>
        <p class="nav-properties" style="display:inline-block; margin-left:100px"><a href="https://github.com/jasnowiss" target="_blank" title="github.com/jasnowiss">github</a></p>
      </div>
      <!-- <div class="row">
        <div class="col-md-2 col-md-offset-2">
          <h3>Contact</h3>
        </div>
        <div class="col-md-3 vcenter">
          <p class="nav-properties"><a href="mailto:jasnowiss@gmail.com" target="_top" title="jasnowiss@gmail.com">email</a></p>
        </div>
        <div class="col-md-2 vcenter">
          <p class="nav-properties"><a href="https://www.linkedin.com/in/jeffreysnowiss" target="_blank" title="linkedin.com/in/jeffreysnowiss">linkedin</a></p>
        </div>
        <div class="col-md-3 vcenter">
          <p class="nav-properties"><a href="https://github.com/jasnowiss" target="_blank" title="github.com/jasnowiss">github</a></p>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-md-3">
          <h3>Contact</h3>
        </div>
        <div class="col-md-3">
          <p>jasnowiss@gmail.com</p>
          <p><a href="https://www.linkedin.com/in/jeffreysnowiss" target="_blank">linkedin</p>
          <p><a href="https://github.com/jasnowiss" target="_blank">github</p>
        </div>
      </div> -->
    </div>
  </div>
</div>


<!-- <hr style="height:1px;border:none;color:#333;background-color:#333;" /> -->

<!-- <footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; jeffsnowiss.com 2016</span>
      </div>
    </div>
  </div>
</footer> -->