<% provide(:title, "Resume") %>

<div class="page-resume">
  <div class="container">
    <h2>Resume</h2>
    <p><%= link_to image_tag("resume/pdfversion2.png", size: "140x40"), asset_path("resume.pdf"), target: '_blank' %></p>
    <div class="resume-container">
      <h3 style="text-align: center">Jeffrey Snowiss</h3>
      <hr>
      <h4 style="text-align: center; padding-bottom: 15px">+1 310 683 8551 | <a href="mailto:jasnowiss@gmail.com" target="_top">jasnowiss@gmail.com</a> | <a href="http://jeffsnowiss.com">jeffsnowiss.com</a></h4>
      <h4><b>OBJECTIVE</b></h4>
      <hr>
      <p><b>To obtain a full-time position in the field of software engineering. </br> Specific areas of interest include web development, Java development, and mobile application development.</b></p>
      <h4><b>EDUCATION</b></h4>
      <hr>
      <div>
        <p style="display:inline-block"><b>University of California, Berkeley</b></p>
        <p style="display:inline-block; float:right"><em>August 2011 &ndash; May 2015</em></p>
      </div>
      <div>
        <p style="display:inline-block"><em>Bachelor of Science in Computer Science</em></p>
        <p style="display:inline-block; float:right"><em>Berkeley, CA</em></p>
      </div>
      <h4>INDEPENDENT PROJECTS</h4>
      <hr>
      <div>
        <p style="display:inline-block"><b><a href="https://itunes.apple.com/us/app/bookin-it/id1057026778?mt=8" target="_blank">Bookin’ It</a></b></p>
        <p style="display:inline-block; float:right"><em>August 2015 &ndash; February 2016</em></p>
      </div>
      <ul>
        <li>Developed and launched a mobile game on the App Store using the Swift programming language.</li>
        <li>Integrated leaderboards, in-app purchases, tutorials, statistics, and advertisements with the gameplay.</li>
        <li>Wrote over 5,000 lines of code, and collaborated on over 100 images and 15 sound effects.</li>
      </ul>
      <div>
        <p style="display:inline-block"><b><a href="http://www.swellnow.com" target="_blank">SwellNow</a></b></p>
        <p style="display:inline-block; float:right"><em>June 2016 &ndash; Present</em></p>
      </div>
      <ul>
        <li>Built a surf forecasting website featuring real-time swell charts that pull data from NOAA buoys.</li>
        <li>Designed the framework for the website with Ruby on Rails to display the swell charts.</li>
        <li>Configured the server that utilizes Unix to run MATLAB and update the swell charts in real-time.</li>
      </ul>
      <div>
        <p style="display:inline-block"><b><a href="http://bit.ly/wibs-gh" target="_blank">"What If" Blackjack Simulator </a></b></p>
        <p style="display:inline-block; float:right"><em>March 2016 &ndash; April 2016</em></p>
      </div>
      <ul>
        <li>Revamped a Java Blackjack program to include all the rules of a standard casino table.</li>
        <li>Incorporated a simulator that can run millions of rounds with nearly any playing and betting strategy.</li>
      </ul>
      <h4>PROFESSIONAL EXPERIENCE</h4>
      <hr>
      <div>
        <p style="display:inline-block"><b>Professional Development Teaching Assistant</b></p>
        <p style="display:inline-block; float:right"><em>June 2014 &ndash; August 2015</em></p>
      </div>
      <div>
        <p style="display:inline-block"><em>University of California, Berkeley</em></p>
        <p style="display:inline-block; float:right"><em>Berkeley, CA</em></p>
      </div>
      <ul>
        <li>Served as the lead teaching assistant for two summers to implement the Beauty and Joy of Computing (BJC) course.</li>
        <li>BJC is a variant of Berkeley’s Computer Science 10 course designed to be taught by high school teachers across the country.</li>
        <li>Directed discussions to over one hundred high school teachers, to prepare them to teach BJC.</li>
        <li>Created discussion materials, answered course questions, and recorded feedback to improve the course.</li>
      </ul>
      <div>
        <p style="display:inline-block"><b>Undergraduate Student Instructor</b></p>
        <p style="display:inline-block; float:right"><em>January 2014 &ndash; May 2015</em></p>
      </div>
      <div>
        <p style="display:inline-block"><em>University of California, Berkeley</em></p>
        <p style="display:inline-block; float:right"><em>Berkeley, CA</em></p>
      </div>
      <ul>
        <li>Instructed labs and discussions for Berkeley’s Computer Science 10 course to more than one hundred students over two semesters.</li>
        <li>Produced course content, enhanced labs and discussions, and constructed a comprehensive exam archive over one semester.</li>
      </ul>
      <h4>TECHNICAL SKILLS</h4>
      <hr>
      <p><b>Proficient in:</b> Python, Java, HTML, CSS, JavaScript, Mac OS X</p>
      <p><b>Experienced in:</b> Swift, Rails, Unix/Linux, Git/Github, C++, MATLAB, SQL, LaTeX, Adobe Illustrator</p>
      <h4>ACTIVITIES AND AWARDS</h4>
      <hr>
      <div>
        <p style="display:inline-block"><b>Eagle Scout, </b> Boy Scouts of America</p>
        <p style="display:inline-block; float:right"><em>Achieved June 2010</em></p>
      </div>
      <ul>
        <li>Refurbished a school science lab for my Eagle Scout Service Project, and have since become a Programming Merit Badge counselor.</li>
      </ul>
      <div>
        <p style="display:inline-block"><b>Trumpet, </b>University of California Marching Band</p>
        <p style="display:inline-block; float:right"><em>August 2011 &ndash; December 2014</em></p>
      </div>
      <ul>
        <li>Performed over 20 halftime shows, and devoted two seasons teaching marching fundamentals and guiding marchers during practice.</li>
      </ul>
    </div>
  </div>
</div>